@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.game {
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}
nav {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0rem;
  width: 100%;
  border: 1px solid black;
  height: 60px;
}
nav ul {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}
nav ul li {
  display: inline-block;
  float: right;
  padding: 1px 16px;
  color: #fff;
}
#timer {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(121, 236, 121);
}
#score {
  font-size: 1.3rem;
  font-weight: 700;
}
.default-card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#default_card {
  width: 14rem;
  height: 100%;
}
.shaking-image {
  animation: shake 0.9s ease-in-out;
}
.description {
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.description h3 {
  display: block;
  font-size: 1.1rem;
}
.shufflebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#shuffle {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 9rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  background-color: #7e2929;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}
.card-img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.slide-container {
  max-width: 80%;
  width: 100%;
  padding: 1rem 0;
  height: auto;
  overflow: hidden;
}
.slide-content {
  margin: 0 40px;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
}
.card-img {
  position: relative;
  width: 8rem;
  height: 100%;
  padding: 3px;
  object-fit: cover;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

