@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px) rotate(-5deg);
  }

  50% {
    transform: translateX(5px) rotate(5deg);
  }

  75% {
    transform: translateX(-5px) rotate(-5deg);
  }

  100% {
    transform: translateX(0);
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yNTEtbWluZC0xNS1hXzEuanBn.jpg');
  background-repeat: no-repeat;
  background-color: #1f114c;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

a:hover {
  color: #771919;
}

.modal {
  z-index: 2;
  width: 60%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;

}

.modal-text {
  padding: 1rem;
  color: #3f3f3f;
  font-size: 1.3rem;
}

.modal ol {
  padding: 1rem;
  overflow: auto;
  height: 10rem;
}

.modal ol li {
  font-size: 1rem;
  color: #3f3f3f;
  margin-left: 1rem;
}

.modal .modal_footer {
  bottom: 0;
  padding: 1rem;
  color: #949494;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

}

.close {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  color: #ff0000;

}

.login,
.register {

  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

@media screen and (max-width:570px) {

  .login,
  .register {
    width: 80%;
  }

}
.logo-box{
 display: flex;
 justify-content: center;
 align-items: center;
}
.logo-box img{
  width: 160px;
  height: 100%;
}
input {
  display: block;
  width: 90%;
  padding: .5rem;
  margin-top: 1rem;
  border: 2px solid#949494;
  outline: none;
  color: #7e2929;
  margin-left: auto;
  margin-right: auto;
}

.check {
  display: flex;
  justify-content: flex-start;
}

.check span {
  margin-top: 1rem;
  font-size: .9rem;
}

.checkbox {
  width: 20px;
  margin-top: 1.3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  -ms-transform: scale(1);
  /* IE */
  -moz-transform: scale(1);
  /* FF */
  -webkit-transform: scale(1);
  /* Safari and Chrome */
  -o-transform: scale(1);
  /* Opera */
  transform: scale(1);
  padding: 10px;
  background-color: #85182a;
}

.login_btn,
.register_btn {
  background-color: #7e2929;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.login_btn:hover,
.register_btn:hover {
  background-color: #000;

}

.login a,
.register a {
  text-decoration: none;
  color: #85182a;
}
label{
  display: block;
  padding: 1rem;
}

.skip {
  float: right;
  margin-top: 1rem;
}

.login label,
.register label {
  font-size: .9rem;
  margin-top: 1rem;
}


/* 
Game styling, including the cards, container and all other game 
components */

.game {
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

nav {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0rem;
  width: 100%;
  border: 1px solid black;
  height: 60px;
}

nav ul {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

nav ul li {
  display: inline-block;
  float: right;
  padding: 1px 12px;
  color: #fff;
}

.menu {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  left: 87%;
  border-radius: 0px 0px 10px 10px;
  backdrop-filter: blur(10px);
  opacity: .8;
}

.menu ul {
  padding: 1rem;
}

.menu li {
  list-style-type: none;
  border-bottom: 1px solid #3f3f3f;
  padding: .5rem;
  font-weight: 700;
  cursor: pointer;
}

#logout {
  color: #ff0000;
  font-style: 1rem;
  border-bottom: none;
}

#user {
  font-size: 1.3rem;
  margin-right: 1rem;
  cursor: pointer;
}

#timer {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(121, 236, 121);
}

#score {
  font-size: 1.3rem;
  font-weight: 700;
}

.opponent {
  font-size: 1.3rem;
  float: left;
  border: 2px solid #dfd9d9;
  border-radius: 16px;
  background-color: #000;
}

#player2_score {
  font-size: 1.3rem;
  font-weight: 700;
}

.level {
  font-size: 1.3rem;
  font-weight: 700;
}

.l-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  display: none;
  /* Initially hide the spinner */
}
.loading {
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #771919;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}


.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  display: none;
  /* Initially hide the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:570px) {

  #timer {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(121, 236, 121);
  }

  #score {
    font-size: 1rem;
    font-weight: 700;
  }

  #player2_score {
    font-size: 1rem;
    font-weight: 700;
  }

  .level {
    font-size: 1rem;
  }
}

.default-card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#default_card {
  width: 14rem;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 9px;
}

.shaking-image {
  animation: shake 0.9s ease-in-out;
}

.description {
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.description-heading {
  font-size: 1rem;
}

.description h3 {
  display: block;
  font-size: 1.1rem;
  color: #dfd9d9;
}

.announcers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.announcers .timeout {
  margin-left: auto;
  margin-right: auto;
}

.timeout_text {
  color: red;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  z-index: 0;
  background-color: #000;
  padding: 1rem;
  opacity: .8;
}

#try_again {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #771919;
  color: #fff;
  padding: 0.6rem;
  width: 90%;
  z-index: 0;
  border: none;
  border-radius: 6px;
}

.announcers .level_display {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

}

.level_display .level_txt {
  position: relative;
  color: gold;
  font-size: 3rem;
  font-weight: 900;
  opacity: .5;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .menu {
    left: 60%;
    border-radius: 0px 0px 10px 10px;
    backdrop-filter: blur(10px);
    opacity: .9;
  }

  .announcers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .timeout_text {
    color: red;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    z-index: 0;
  }

}

.shufflebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shuffle {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 9rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  background-color: #7e2929;
  color: #fff;
  cursor: pointer;
}

#shuffle:hover {
  background-color: #000000;
  border: 1px solid #fff;

}

.success,
.fail {
  position: absolute;
  top: 6%;
  left: 0%;
  right: 50%;
  width: 30%;
}

.success .scored {
  font-size: 1rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  background-color: green;
}

.fail .failed {
  font-size: 1rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  background-color: red;
}

.hidden {
  display: none;
}

.card-img {
  color: #1f114c;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.slide-container {
  max-width: 80%;
  width: 100%;
  padding: 1rem 0;
  height: auto;
  overflow: hidden;
}

.slide-content {
  margin: 0 40px;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
}

.card-img {
  position: relative;
  width: 8rem;
  height: 100%;
  padding: 3px;
  object-fit: cover;
}

.card-img:hover {
  width: 10rem;
  height: 100%;
  border: 2px solid #771919;
  border-radius: 9px;
}


.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}